#container {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}

#video {
    transform: scaleX(-1);
    width: auto;
    height: auto;
}

#canvas {
    transform: scaleX(-1);
    position: absolute;
    left: 0;
    top: 0;
}

#txt {
    font-size: 10px;
    margin-left: 10px;
}

#PageTitle {
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    border: 5px double #333333;
    border-radius: 10px;
}

#ProgressBar {
    position: relative;
    margin: 20px, 20px, 20px, 20px;
    padding: 10px;
}

.buttons {
    text-align: center;
    padding: 5px;
    font-size: 1em;
}

pre {
    margin: 1em 0;
    /* ブロック前後の余白 */
    padding: 1em;
    /* ブロック内の余白 */
    border-radius: 5px;
    /* 角丸 */
    background: #25292f;
    /* 背景色 */
    color: #fff;
    /* 文字色 */
    white-space: pre-wrap;
    /* はみ出たときに折り返す */
}

dat {
    font-size: 20px;
    margin-left: 10px;
}